.panel {
    height: inherit;
}
.panel-heading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
}
.panel-body {
    backface-visibility: hidden;
    will-change: overflow;
    white-space: nowrap;
    overflow: hidden;
    overflow-y: scroll;
    text-overflow: ellipsis;
    line-height: normal;
    height: calc(100% - 45px);
    bottom: 0;
    top: 0;

    font-size: 14px;
}
.popover-data-content {
    display: none;
}
a {
    cursor: pointer;
}
