{% extends "base.html" %}

{% block extra_scripts %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/widgets.css">
    <style type="text/css">
        body {
            background-image: url("/static/pics/{{ user.username }}.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        .panel {
            height: inherit;
        }
        .panel-heading {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: normal;
        }
        .panel-body {
            backface-visibility: hidden;
            will-change: overflow;
            white-space: nowrap;
            overflow: hidden;
            overflow-y: scroll;
            text-overflow: ellipsis;
            line-height: normal;
            height: calc(100% - 45px);
            bottom: 0;
            top: 0;

            font-size: 14px;
        }
        .popover-data-content {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="widgets"></div>
    <script type="text/javascript" src="/static/js/widgets.js"></script>

{% endblock %}